body{
  background-color: rgb(138, 216, 239);
}
.App {
  text-align: center;
}

.bar1{
  display: flex;
  justify-content: space-around;
}

.bar2{
  display: flex;
  justify-content: space-evenly;
  padding-left: 4em ;
  padding-right: 4em;
}
li{
  padding-top: 2%;
  padding-bottom: 2%;
}
li:hover{
  background-color: rgb(180, 240, 243);
}

ul.list{
  list-style-type:none;
}

.button-2{
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  width: 6em;
  height: 2em;
}

.button-1 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 2em;
  line-height: 1.15;
  margin: 12px 0 12px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* .inputs{
  border-radius: 40%;
  /* width: 150px;
  height: 30px; */
  /* padding: 10px; */
  /* border: 1px solid black;
  margin: 5px; */ 
/* } */

@media (max-width:1000px) {
  .button-2{
    width: 4em;
    margin: 5px;
  }
  .button-1{
    height: 4em;
    font-size: small;
    margin: 5px;
  }
  .bar1{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  .bar2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  
}